    <!-- FOOTER -->
    <footer class="text-center fixed-bottom bg-dark text-bg-dark pt-3">
        <p class="ut-red">
          <span class="text-white">&copy; 2024</span> [[[ 2026074 조형진]]]
        </p>
      </footer>